body {
  background-color: black;
  color: white;
  font-size: 18px;
}
canvas {
  background-color: lightgray;
}
h1 {
  color: lightgreen;
}
h2 {
  color: red;
}
h3 {
  display: inline-block;
  color: lightblue;
}
button {
  margin: 10;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
