img {
  max-width: 50px;
  max-height: 50px;
}
body {
  -webkit-animation: bodyAnim 25s ease infinite;
  background: linear-gradient(270deg, #000000, #230073);
  background-size: 400% 400%;
  color: white;
  font-size: 18px;
}
@-webkit-keyframes bodyAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
canvas {
  display: inline-block;
}
h1 {
  background: -webkit-linear-gradient(#af0000, #d90000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  background: -webkit-linear-gradient(top left, #ffffff, #8ffff8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 10;
}
button {
  margin: 10;
  background-image: linear-gradient(to bottom right, #7ec200, #359e00);
  border: none;
  color: white;
  padding: 7px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input {
  padding-top: 20px;
  border-radius: 3px;
  font-size: 16px;
}
.glass{
  margin: 10;
  background-image: linear-gradient(to bottom right, #7ec200, #359e00);
  border: none;
  color: white;
  padding: 7px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.glass:hover{
  color: white;
	background-image: linear-gradient(to bottom right, #57df7b, #47bf67);
}
.dropbtn {
  background: none;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00621b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
