img {
  max-width: 50px;
  max-height: 50px;
}
body {
  background-image: linear-gradient(black, #110038);
  color: white;
  font-size: 18px;
}
canvas {
  display: inline-block;
}
h1 {
  background: -webkit-linear-gradient(#af0000, #d90000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  background: -webkit-linear-gradient(#ffffff, #8ffff8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 10;
}
button {
  margin: 10;
  background-image: linear-gradient(#7ec200, #359e00);
  border: none;
  color: white;
  padding: 7px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
