body {
  -webkit-animation: bodyAnim 25s ease infinite;
  background: linear-gradient(270deg, #000000, #230073);
  background-size: 400% 400%;
  color: white;
  font-size: 18px;
}
@-webkit-keyframes bodyAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
canvas {
  background-color: lightgray;
}
h1 {
  background: -webkit-linear-gradient(#09bf00, #43e302);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  background: -webkit-linear-gradient(#af0000, #d90000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  display: inline-block;
  background: -webkit-linear-gradient(#00cde5, #24e8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button {
  margin: 10;
  background-image: linear-gradient(to bottom right, #7ec200, #359e00);
  border: none;
  color: white;
  padding: 7px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.glass{
  margin: 10;
  background-image: linear-gradient(to bottom right, #7ec200, #359e00);
  border: none;
  color: white;
  padding: 7px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.glass:hover{
  color: orange;
	background-image: linear-gradient(to bottom right, #5fed85, #47bf67);
}
